#Yaari{
    background-color: green;
    height: 700px;
    margin: 10px;
    border: 20px;
    padding: 50px;
}
#Pranali{
    background-color: skyblue;
}
#Omkar{
    background-color: red;
}
#Kundaaaan{
    background-color: orangered;
}
.friends{
    height: 200px;
    
}
img{
    height: 200px;
    width: 350px;
}
i{
    float: right;
}